@model CoachReportModel
@{
    var themeTwoSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    var themeThreeSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    var examThemeTwoList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    var examThemeThreeList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    if (Model != null && Model.isShowList == false && Model.ExamModel != null && Model.ThemeSalaryModel.List != null && Model.ThemeSalaryModel.List.Count > 0)
    {
        themeTwoSalary = Model.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).OrderBy(x => x.Item2).ToList();
        themeThreeSalary = Model.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).OrderBy(x => x.Item2).ToList();
    }
    if (Model != null && Model.isShowList == false && Model.ExamModel != null && Model.ExamModel.List != null && Model.ExamModel.List.Count > 0)
    {
        examThemeTwoList = Model.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).ToList();
        examThemeThreeList = Model.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).ToList();
    }
    ViewBag.Title = "教练工资";
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>教练工资</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-6">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label  am-margin-left-sm">教练</span>
                <select name="CoachID" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                    <option value="-1">请选择</option>
                </select>
                <span class="am-input-group-label">时间</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" value="@(Model?.StartTime.ToString("yyyy-MM"))" name="searchTime" readonly style="width:100px;;">

                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="grid_container">
    @if (Model != null && Model.isShowList == false)
    {
        <div class="am-g">

            <div class="am-u-lg-12">
                <div class="am-g am-margin-top-lg ">
                    <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                        <p>@(Model.CoachName)教练@(Model.StartTime.ToString("MM月dd日"))到@(Model.EndTime.ToString("MM月dd日"))工资表</p>
                    </div>

                </div>
                <table class="am-table am-table-compact am-table-hover table-main am-table-bordered">
                    <thead>
                        <tr>
                            <th>薪资级别</th>
                            <th>计数</th>
                            <th>金额</th>
                            <th>小计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>底薪</td>
                            <td>1</td>
                            <td>@Model.ThemeSalaryModel.BasicSalary</td>
                            <td>@Model.ThemeSalaryModel.BasicSalary</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="am-text-center">科目二</td>
                        </tr>
                        @foreach (var item in themeTwoSalary)
                        {
   
                            <tr>
                                <td>@item.Item3</td>
                                <td>@item.Item4</td>
                                <td>@item.Item5</td>
                                <td>@item.Item6</td>
                            </tr>
                            if (Model.ThemeSalaryModel.OldList != null && Model.ThemeSalaryModel.OldList.Count > 0)
                            {
                                var oldItem = Model.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                if (oldItem != null)
                                {
                                    <tr>
                                        <td>@oldItem.Item3</td>
                                        <td>@oldItem.Item4</td>
                                        <td>@oldItem.Item5</td>
                                        <td>@oldItem.Item6</td>
                                    </tr>
                                }
                            }
                        }
                        <tr><td colspan="4"></td></tr>
                        <tr>
                            <td colspan="4" class="am-text-center">科目三</td>
                        </tr>
                        @foreach (var item in themeThreeSalary)
                        {
                            <tr>
                                <td>@item.Item3</td>
                                <td>@item.Item4</td>
                                <td>@item.Item5</td>
                                <td>@item.Item6</td>
                            </tr>
                            if (Model.ThemeSalaryModel.OldList != null && Model.ThemeSalaryModel.OldList.Count > 0)
                            {
                                var oldItem = Model.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                if (oldItem != null)
                                {
                                    <tr>
                                        <td>@oldItem.Item3</td>
                                        <td>@oldItem.Item4</td>
                                        <td>@oldItem.Item5</td>
                                        <td>@oldItem.Item6</td>
                                    </tr>
                                }
                            }
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>总计</td>
                            <td>@Model.ThemeSalaryModel.TotalMoeny</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    }
    else if (Model != null && Model.isShowList == true)
    {
        <div class="am-g">

            <div class="am-u-lg-12">
                <div class="am-g am-margin-top-lg ">
                    <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                        <p>教练@(Model.CoachList.StartTime.ToString("MM月dd日"))到@(Model.CoachList.EndTime.ToString("MM月dd日"))工资统计</p>
                    </div>

                </div>
                <table class="am-table am-table-compact am-table-hover table-main am-table-bordered am-text-sm">
                    <thead>
                        @{
                            var themeTwoMaxCount = Model.CoachList.SalaryList.Where(x => x.Code == ThemeCode.Two).Max(x => x.Count);
                            var themeThreeMaxCount = Model.CoachList.SalaryList.Where(x => x.Code == ThemeCode.Three).Max(x => x.Count);
                            var themeTwoThCount = Model.CoachList.SalaryList.Where(x => x.Code == ThemeCode.Two).Count() + Model.CoachList.OldSalaryList.Where(x => x.Code == ThemeCode.Two).Count();
                            var themeThreeThCount = Model.CoachList.SalaryList.Where(x => x.Code == ThemeCode.Three).Count() + Model.CoachList.OldSalaryList.Where(x => x.Code == ThemeCode.Three).Count();
                        }
                        <tr><th>科目</th><th colspan="@(themeTwoThCount*2+1)" class="am-text-center">科二</th><th colspan="@(themeThreeThCount*2+1)" class="am-text-center">科三</th><th colspan="2"></th></tr>
                        <tr>
                            <th>教练员</th>
                         
                            @foreach (var item in Model.CoachList.SalaryList)
                            {
                                var className = "am-text-success";
                                if (item.Code == ThemeCode.Three)
                                {
                                    className = "am-text-warning";
                                }
                                <th class="@(className)">
                                    @item.Name (@item.Money)
                                </th>
                                <th>
                                    小计
                                </th>
                                var olditem = Model.CoachList.OldSalaryList.Where(x => x.Code == item.Code && x.Count == item.Count).FirstOrDefault();
                                if (olditem != null)
                                {
                                    <th class="@(className)">
                                        @(olditem.Name + "(" + olditem.EndTime.Value.ToString("yyyy-MM-dd") + ")")
                                    </th>
                                    <th>
                                        小计
                                    </th>
                                }
                                if ((item.Code == ThemeCode.Two && themeTwoMaxCount == item.Count) || (item.Code == ThemeCode.Three && themeThreeMaxCount == item.Count))
                                {
                                    <th>
                                        统计
                                    </th>
                                }
                            }
                            <th>底薪</th>
                            <th>总计</th>
                        </tr>
                        
                    </thead>
                    <tbody>

                        @foreach (var item in Model.CoachList.AllDic)
                        {
                            <tr>
                                <td>@item.Value.CoachName</td>

                                @foreach (var salary in Model.CoachList.SalaryList)
                                {
                                    var className = "am-text-success";
                                    if (salary.Code == ThemeCode.Three)
                                    {
                                        className = "am-text-warning";
                                    }
                                    <td class="@(className)">
                                        @{
                                            var obj = item.Value.List.FirstOrDefault(x => x.Item1 == salary.Code && x.Item2 == salary.Count);
                                        }
                                        @(obj?.Item4)
                                    </td>
                                    <td>
                                        @(obj?.Item6)
                                    </td>
                                            var olditem = Model.CoachList.OldSalaryList.Where(x => x.Code == salary.Code && x.Count == salary.Count).FirstOrDefault();
                                            if (olditem != null)
                                            {
                                                <td class="@(className)">
                                                    @{
                                                        var oldObj = item.Value.OldList.FirstOrDefault(x => x.Item1 == salary.Code && x.Item2 == salary.Count);
                                                    }
                                                    @(oldObj?.Item4)
                                                </td>
                                                <td>
                                                    @(oldObj?.Item6)
                                                </td>
                                              }

                                              if (salary.Code == ThemeCode.Two && themeTwoMaxCount == salary.Count)
                                              {
                                                   <td>
                                                       @item.Value.ThemeTwoMoney
                                                   </td>
                                              }
                                              if (salary.Code == ThemeCode.Three && themeThreeMaxCount == salary.Count)
                                              {
                                               <td >
                                                      @item.Value.ThemeThreeMoney
                                                </td>
                                               }
                                          }
                                <td>@item.Value.BasicSalary</td>
                                <td>@item.Value.TotalMoeny</td>
                            </tr>
                            }
                    </tbody>

                </table>
            </div>

        </div>
                                                        }
</div>
@section scripts
{
    <script>

        $('[name=searchTime]').datepicker({ format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months' });

        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        var coachID = '@Request["CoachID"]';
        if (coachID == "null") {
            coachID = "";
        }
        $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {
            $(json.CoachList).each(function () {
                if (coachID != "" && coachID == this.ID) {
                    $("#searchDomain select[name='CoachID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                }
                else {

                    $("#searchDomain select[name='CoachID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                }
            });
        });

        function Search() {
            window.location.href = "/Coach/Info?searchTime=" + $("[name='searchTime']").val() + "&CoachID=" + $("[name='CoachID']").val();
        }

    </script>
}