@model DOL.Web.Models.CoacheInfoModel
@{
    var examThemeTwoList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    var examThemeThreeList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    var themeTwoSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    var themeThreeSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    if (Model.CoachReportModel != null && Model.CoachReportModel.ExamModel != null && Model.CoachReportModel.ExamModel.List != null && Model.CoachReportModel.ExamModel.List.Count > 0)
    {
        examThemeTwoList = Model.CoachReportModel.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).OrderBy(x => x.Item2).ToList();
        examThemeThreeList = Model.CoachReportModel.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).OrderBy(x => x.Item2).ToList();
    }
    if (Model != null && Model.CoachReportModel != null && Model.CoachReportModel.isShowList == false && Model.CoachReportModel.ExamModel != null && Model.CoachReportModel.ThemeSalaryModel.List != null && Model.CoachReportModel.ThemeSalaryModel.List.Count > 0)
    {
        themeTwoSalary = Model.CoachReportModel.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).OrderBy(x => x.Item2).ToList();
        themeThreeSalary = Model.CoachReportModel.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).OrderBy(x => x.Item2).ToList();
    }
    ViewBag.Title = "教学查询";
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>教学信息</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-8">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label am-margin-left-sm">时间</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" value="@(Model.CoachReportModel!=null?(Model.CoachReportModel.StartTime.ToString("yyyy-MM")):"")" name="searchTime" readonly style="width:100px;">

                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="grid_container">
    <div class="am-g">
        @if (Model.CoachReportModel != null)
            {
            <div class="am-u-lg-7">
                <div class="am-g am-margin-top-lg ">
                    <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                        <p>@(Model.CoachReportModel.CoachName)教练@(Model.CoachReportModel.StartTime.ToString("MM月dd日"))到@(Model.CoachReportModel.EndTime.ToString("MM月dd日"))考试情况</p>
                    </div>

                </div>
                <table class="am-table am-table-compact am-table-hover table-main am-table-bordered">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>科目二</th>
                            <th>考试次数</th>
                            <th>通过数</th>
                            <th>通过率</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in examThemeTwoList)
                        {
                            <tr>
                                <td>@(item.Item2.ToString("MM月dd日"))</td>
                                <td style="margin:0 0 1rem 0;line-height:0px;">@Html.Raw(item.Item3)</td>
                                <td>@item.Item4</td>
                                <td>@item.Item5</td>
                                <td>@(item.Item6)%</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td>本月考试人数</td>
                            <td>本月考试人次</td>
                            <td>本月通过人数</td>
                            <td>本月通过率</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeopleExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPassCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeoplePassScaling)%</td>
                        </tr>
                        @*<tr>
                                <td></td>
                                <td></td>
                                <td>本月考试人数</td>
                                <td>本月通过人数</td>
                                <td>本月通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td></td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPassCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeoplePassScaling)%</td>
                            </tr>*@
                        <tr>
                            <td></td>
                            <td>总考试人数</td>
                            <td>总考试人次</td>
                            <td>总通过数</td>
                            <td>综合通过率</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllPeopleExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllPassCount)</td>
                            <td>@(Model?.CoachReportModel.ExamModel?.ThemeTwoAllPassScaling)%</td>
                        </tr>
                    </tbody>

                </table>

                <table class="am-table am-table-compact am-table-hover table-main am-margin-top-lg am-table-bordered" style="line-height:0px;">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>科目三</th>
                            <th>考试次数</th>
                            <th>通过数</th>
                            <th>通过率</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in examThemeThreeList)
                        {
                            <tr>
                                <td>@(item.Item2.ToString("MM月dd日"))</td>
                                <td style="margin:0 0 1rem 0;line-height:0px;">@Html.Raw(item.Item3)</td>
                                <td>@item.Item4</td>
                                <td>@item.Item5</td>
                                <td>@(item.Item6)%</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td>本月考试人数</td>
                            <td>本月考试人次</td>
                            <td>本月通过人数</td>
                            <td>本月通过率</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPeopleExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPassCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPeoplePassScaling)%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>总考试人数</td>
                            <td>总考试人次</td>
                            <td>总通过数</td>
                            <td>综合通过率</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllPeopleExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllExamCount)</td>
                            <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllPassCount)</td>
                            <td>@(Model?.CoachReportModel.ExamModel?.ThemeThreeAllPassScaling)%</td>
                        </tr>
                    </tbody>

                </table>
            </div>
                <div class="am-u-lg-5">
                    <div class="am-g am-margin-top-lg ">
                        <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                            <p>@(Model.CoachReportModel.CoachName)教练@(Model.CoachReportModel.StartTime.ToString("MM月dd日"))到@(Model.CoachReportModel.EndTime.ToString("MM月dd日"))工资表</p>
                        </div>

                    </div>
                    <table class="am-table am-table-compact am-table-hover table-main am-table-bordered">
                        <thead>
                            <tr>
                                <th>薪资级别</th>
                                <th>计数</th>
                                <th>金额</th>
                                <th>小计</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>底薪</td>
                                <td>1</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.BasicSalary</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.BasicSalary</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="am-text-center">科目二</td>
                            </tr>
                            @foreach (var item in themeTwoSalary)
                            {

                                <tr>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                    <td>@item.Item5</td>
                                    <td>@item.Item6</td>
                                </tr>
                                if (Model.CoachReportModel.ThemeSalaryModel.OldList != null && Model.CoachReportModel.ThemeSalaryModel.OldList.Count > 0)
                                {
                                    var oldItem = Model.CoachReportModel.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                    if (oldItem != null)
                                    {
                                        <tr>
                                            <td>@oldItem.Item3</td>
                                            <td>@oldItem.Item4</td>
                                            <td>@oldItem.Item5</td>
                                            <td>@oldItem.Item6</td>
                                        </tr>
                                    }
                                }
                            }
                            <tr><td colspan="4"></td></tr>
                            <tr>
                                <td colspan="4" class="am-text-center">科目三</td>
                            </tr>
                            @foreach (var item in themeThreeSalary)
                            {
                                <tr>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                    <td>@item.Item5</td>
                                    <td>@item.Item6</td>
                                </tr>
                                if (Model.CoachReportModel.ThemeSalaryModel.OldList != null && Model.CoachReportModel.ThemeSalaryModel.OldList.Count > 0)
                                {
                                    var oldItem = Model.CoachReportModel.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                    if (oldItem != null)
                                    {
                                        <tr>
                                            <td>@oldItem.Item3</td>
                                            <td>@oldItem.Item4</td>
                                            <td>@oldItem.Item5</td>
                                            <td>@oldItem.Item6</td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>总计</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.TotalMoeny</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        }
    </div>
</div>
@section scripts
{
    <script>

        $('[name=searchTime]').datepicker({ format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months' });

        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        function Search() {
            window.location.href = "/Coach/MyCash?searchTime=" + $("[name='searchTime']").val();
        }

    </script>
}