@model DOL.Web.Models.CoacheInfoModel
@{
    var examThemeTwoList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    var examThemeThreeList = new List<Tuple<ThemeCode, DateTime, string, int, int, int>>();
    var themeTwoSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    var themeThreeSalary = new List<Tuple<ThemeCode, int, string, int, decimal, decimal>>();
    string DriverShopID = Request["DriverShopID"];
    string CoachID = Request["CoachID"];
    if (Model.CoachReportModel != null && Model.CoachReportModel.ExamModel != null && Model.CoachReportModel.ExamModel.List != null && Model.CoachReportModel.ExamModel.List.Count > 0)
    {
        examThemeTwoList = Model.CoachReportModel.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).OrderBy(x => x.Item2).ToList();
        examThemeThreeList = Model.CoachReportModel.ExamModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).OrderBy(x => x.Item2).ToList();
    }
    if (Model != null && Model.CoachReportModel!=null && Model.CoachReportModel.isShowList == false && Model.CoachReportModel.ExamModel != null && Model.CoachReportModel.ThemeSalaryModel.List != null && Model.CoachReportModel.ThemeSalaryModel.List.Count > 0)
    {
        themeTwoSalary = Model.CoachReportModel.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Two)).OrderBy(x => x.Item2).ToList();
        themeThreeSalary = Model.CoachReportModel.ThemeSalaryModel.List.Where(x => x.Item1.Equals(ThemeCode.Three)).OrderBy(x => x.Item2).ToList();
    }
    ViewBag.Title = "教学查询";
}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><a href="/"><strong class="am-text-primary am-text-lg">首页</strong></a> /<small>教学信息</small></div>
</div>
<div id="searchDomain">

    <div class="am-g">
        <div class="am-u-lg-8">
            <div class="am-input-group am-input-group-sm">
                <span class="am-input-group-label am-margin-left-sm">时间</span>
                <input type="text" class="am-form-field" placeholder="请选择日期" value="@(Model.CoachReportModel!=null?(Model.CoachReportModel.StartTime.ToString("yyyy-MM")):"")" name="searchTime" readonly style="width:100px;">

                @if (Model.CoachList != null && Model.CoachList.Count > 0)
                {
                    <span class="am-input-group-label  am-margin-left-sm">教练</span>
                    <select name="CoachID" data-am-selected="{ btnWidth: '120px',btnSize: 'sm'}" style="width:120px;">
                        <option value="-1" selected>请选择</option>
                        @foreach (var item in Model.CoachList)
                        {
                            if (item.Value.Equals(CoachID))
                            {
                                <option value="@(item.Value)" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@(item.Value)">@item.Text</option>
                            }
                        }
                    </select>
                }
                <span class="am-input-group-btn am-margin-left-sm">
                    <button class="am-btn am-btn-default" onclick="Search()" type="button">搜索</button>
                    <button class="am-btn am-btn-default" onclick="ClearFilter()" type="button">清除</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="grid_container">
    @if (Model != null && Model.CoachReportModel != null && Model.CoachReportModel.isShowList == false)
    {
        <div class="am-g">
            @if (Model.CoachReportModel != null)
            {
                <div class="am-u-lg-7">
                    <div class="am-g am-margin-top-lg ">
                        <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                            <p>@(Model.CoachReportModel.CoachName)教练@(Model.CoachReportModel.StartTime.ToString("MM月dd日"))到@(Model.CoachReportModel.EndTime.ToString("MM月dd日"))考试情况</p>
                        </div>

                    </div>
                    <table class="am-table am-table-compact am-table-hover table-main am-table-bordered">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>科目二</th>
                                <th>考试次数</th>
                                <th>通过数</th>
                                <th>通过率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in examThemeTwoList)
                            {
                    <tr>
                        <td>@(item.Item2.ToString("MM月dd日"))</td>
                        <td style="margin:0 0 1rem 0;line-height:0px;">@Html.Raw(item.Item3)</td>
                        <td>@item.Item4</td>
                        <td>@item.Item5</td>
                        <td>@(item.Item6)%</td>
                    </tr>
                            }
                            <tr>
                                <td></td>
                                <td>本月考试人数</td>
                                <td>本月考试人次</td>
                                <td>本月通过人数</td>
                                <td>本月通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPassCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeoplePassScaling)%</td>
                            </tr>
                            @*<tr>
                                <td></td>
                                <td></td>
                                <td>本月考试人数</td>
                                <td>本月通过人数</td>
                                <td>本月通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td></td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPassCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoMonthPeoplePassScaling)%</td>
                            </tr>*@
                            <tr>
                                <td></td>
                                <td>总考试人数</td>
                                <td>总考试人次</td>
                                <td>总通过数</td>
                                <td>综合通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeTwoAllPassCount)</td>
                                <td>@(Model?.CoachReportModel.ExamModel?.ThemeTwoAllPassScaling)%</td>
                            </tr>
                        </tbody>

                    </table>

                    <table class="am-table am-table-compact am-table-hover table-main am-margin-top-lg am-table-bordered" style="line-height:0px;">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>科目三</th>
                                <th>考试次数</th>
                                <th>通过数</th>
                                <th>通过率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in examThemeThreeList)
                            {
                                <tr>
                                    <td>@(item.Item2.ToString("MM月dd日"))</td>
                                    <td style="margin:0 0 1rem 0;line-height:0px;">@Html.Raw(item.Item3)</td>
                                    <td>@item.Item4</td>
                                    <td>@item.Item5</td>
                                    <td>@(item.Item6)%</td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td>本月考试人数</td>
                                <td>本月考试人次</td>
                                <td>本月通过人数</td>
                                <td>本月通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPassCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeMonthPeoplePassScaling)%</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>总考试人数</td>
                                <td>总考试人次</td>
                                <td>总通过数</td>
                                <td>综合通过率</td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllPeopleExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllExamCount)</td>
                                <td>@(Model.CoachReportModel.ExamModel?.ThemeThreeAllPassCount)</td>
                                <td>@(Model?.CoachReportModel.ExamModel?.ThemeThreeAllPassScaling)%</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="am-u-lg-5">
                    <div class="am-g am-margin-top-lg ">
                        <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                            <p>@(Model.CoachReportModel.CoachName)教练@(Model.CoachReportModel.StartTime.ToString("MM月dd日"))到@(Model.CoachReportModel.EndTime.ToString("MM月dd日"))工资表</p>
                        </div>

                    </div>
                    <table class="am-table am-table-compact am-table-hover table-main am-table-bordered">
                        <thead>
                            <tr>
                                <th>薪资级别</th>
                                <th>计数</th>
                                <th>金额</th>
                                <th>小计</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>底薪</td>
                                <td>1</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.BasicSalary</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.BasicSalary</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="am-text-center">科目二</td>
                            </tr>
                            @foreach (var item in themeTwoSalary)
                            {

                                <tr>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                    <td>@item.Item5</td>
                                    <td>@item.Item6</td>
                                </tr>
                                if (Model.CoachReportModel.ThemeSalaryModel.OldList != null && Model.CoachReportModel.ThemeSalaryModel.OldList.Count > 0)
                                {
                                    var oldItem = Model.CoachReportModel.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                    if (oldItem != null)
                                    {
                                        <tr>
                                            <td>@oldItem.Item3</td>
                                            <td>@oldItem.Item4</td>
                                            <td>@oldItem.Item5</td>
                                            <td>@oldItem.Item6</td>
                                        </tr>
                                    }
                                }
                            }
                            <tr><td colspan="4"></td></tr>
                            <tr>
                                <td colspan="4" class="am-text-center">科目三</td>
                            </tr>
                            @foreach (var item in themeThreeSalary)
                            {
                                <tr>
                                    <td>@item.Item3</td>
                                    <td>@item.Item4</td>
                                    <td>@item.Item5</td>
                                    <td>@item.Item6</td>
                                </tr>
                                if (Model.CoachReportModel.ThemeSalaryModel.OldList != null && Model.CoachReportModel.ThemeSalaryModel.OldList.Count > 0)
                                {
                                    var oldItem = Model.CoachReportModel.ThemeSalaryModel.OldList.Where(x => x.Item1.Equals(item.Item1) && x.Item2.Equals(item.Item2)).FirstOrDefault();
                                    if (oldItem != null)
                                    {
                                        <tr>
                                            <td>@oldItem.Item3</td>
                                            <td>@oldItem.Item4</td>
                                            <td>@oldItem.Item5</td>
                                            <td>@oldItem.Item6</td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>总计</td>
                                <td>@Model.CoachReportModel.ThemeSalaryModel.TotalMoeny</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
    else if (Model != null && Model.CoachReportModel != null && Model.CoachReportModel.isShowList == true)
    {
        <div class="am-g">

            <div class="am-u-lg-12">
                <div class="am-g am-margin-top-lg ">
                    <div class="am-u-sm-12 am-u-sm-centered am-text-center">
                        <p>教练@(Model.CoachReportModel.StartTime.ToString("MM月dd日"))到@(Model.CoachReportModel.EndTime.ToString("MM月dd日"))考试情况</p>
                    </div>

                </div>
                <table class="am-table am-table-compact am-table-hover table-main am-table-bordered am-text-sm">
                    <thead>
                        <tr><th>科目</th><th colspan="11" class="am-text-center">科二</th><th colspan="11" class="am-text-center">科三</th></tr>
                        <tr>
                            <th>教练员</th>


                            @*<th>考试次数</th>
    <th>通过次数</th>
    <th>通过率</th>
    <th>考试人数</th>*@
                            <th>通过人数</th>
                            <th>考试次数</th>
                            <th>人数通过率</th>
                            <th>考试人数</th>
                            <th>仁慈通过率</th>
                            <td>总考试人次</td>
                            <td>总通过人次</td>
                            <td>总人次通过率</td>
                            <td>总考试人数</td>
                            <td>总通过人数</td>
                            <td>总人数通过率</td>
                            <th>教练员</th>

                            <th>通过人数</th>
                            <th>考试次数</th>
                            <th>人数通过率</th>
                            <th>考试人数</th>
                            <th>仁慈通过率</th>
                            <td>总考试人次</td>
                            <td>总通过人次</td>
                            <td>总人次通过率</td>
                            <td>总考试人数</td>
                            <td>总通过人数</td>
                            <td>总人数通过率</td>
                        </tr>

                    </thead>
                    <tbody>
                        @{ 
                            var two_1 = 0; var two_2 = 0; var two_3 = 0; var two_4 = 0; var two_5 = 0; var two_6 = 0; var two_7 = 0;
                            var three_1 = 0; var three_2 = 0; var three_3 = 0; var three_4 = 0; var three_5 = 0; var three_6 = 0; var three_7 = 0;
                        }
                        @foreach (var item in Model.CoachReportModel.CoachList.AllTrainDic)
                        {
                            two_1 += item.Value.ThemeTwoMonthPassCount;
                            two_2 += item.Value.ThemeTwoMonthExamCount;
                            two_3 += item.Value.ThemeTwoMonthPeopleExamCount;
                            two_4 += item.Value.ThemeTwoAllExamCount;
                            two_5 += item.Value.ThemeTwoAllPassCount;
                            two_6 += item.Value.ThemeTwoAllPeopleExamCount;
                            two_7 += item.Value.ThemeTwoAllPeoplePassCount;

                            three_1 += item.Value.ThemeThreeMonthPassCount;
                            three_2 += item.Value.ThemeThreeMonthExamCount;
                            three_3 += item.Value.ThemeThreeMonthPeopleExamCount;
                            three_4 += item.Value.ThemeThreeAllExamCount;
                            three_5 += item.Value.ThemeThreeAllPassCount;
                            three_6 += item.Value.ThemeThreeAllPeopleExamCount;
                            three_7 += item.Value.ThemeThreeAllPeoplePassCount;
                            <tr><td>@item.Value.CoachName</td>

                                <td>@(item.Value?.ThemeTwoMonthPassCount)</td>
                                <td>@(item.Value?.ThemeTwoMonthExamCount)</td>
                                <td>@(item.Value?.ThemeTwoMonthPassScaling)%</td>
                                <td>@(item.Value?.ThemeTwoMonthPeopleExamCount)</td>
                                <td>@(item.Value?.ThemeTwoMonthPeoplePassScaling)%</td>
                                <td>@(item.Value?.ThemeTwoAllExamCount)</td>
                                <td>@(item.Value?.ThemeTwoAllPassCount)</td>
                                <td>@(item.Value?.ThemeTwoAllPassScaling)%</td>
                                <td>@(item.Value?.ThemeTwoAllPeopleExamCount)</td>
                                <td>@(item.Value?.ThemeTwoAllPeoplePassCount)</td>
                                <td>@(item.Value?.ThemeTwoAllPeoplePassScaling)%</td>
                                <td>@item.Value.CoachName</td>
                                <td>@(item.Value?.ThemeThreeMonthPassCount)</td>
                                <td>@(item.Value?.ThemeThreeMonthExamCount)</td>
                                <td>@(item.Value?.ThemeThreeMonthPassScaling)%</td>
                                <td>@(item.Value?.ThemeThreeMonthPeopleExamCount)</td>
                                <td>@(item.Value?.ThemeThreeMonthPeoplePassScaling)%</td>
                                <td>@(item.Value?.ThemeThreeAllExamCount)</td>
                                <td>@(item.Value?.ThemeThreeAllPassCount)</td>
                                <td>@(item.Value?.ThemeThreeAllPassScaling)%</td>
                                <td>@(item.Value?.ThemeThreeAllPeopleExamCount)</td>
                                <td>@(item.Value?.ThemeThreeAllPeoplePassCount)</td>
                                <td>@(item.Value?.ThemeThreeAllPeoplePassScaling)%</td>
                            </tr>
                        }
                        <tr>
                            <td>合计</td>
                            <td>@(two_1)</td>
                            <td>@(two_2)</td>
                            <td>@(two_2 != 0 ? (Math.Round((double)two_1 * 100 / (double)two_2, 1)) : 0)%</td>
                            <td>@(two_3)</td>
                            <td>@(two_3 != 0 ? (Math.Round((double)two_1 * 100 / (double)two_3, 1)) : 0)%</td>
                            <td>@(two_4)</td>
                            <td>@(two_5)</td>
                            <td>@(two_4 != 0 ? (Math.Round((double)two_5 * 100 / (double)two_4, 1)) : 0)%</td>
                            <td>@(two_6)</td>
                            <td>@(two_7)</td>
                            <td>@(two_6 != 0 ? (Math.Round((double)two_7 * 100 / (double)two_6, 1)) : 0)%</td>


                            <td>合计</td>
                            <td>@(three_1)</td>
                            <td>@(three_2)</td>
                            <td>@(three_2 != 0 ? (Math.Round((double)three_1 * 100 / (double)three_2, 1)) : 0)%</td>
                            <td>@(three_3)</td>
                            <td>@(three_3 != 0 ? (Math.Round((double)three_1 * 100 / (double)three_3, 1)) : 0)%</td>
                            <td>@(three_4)</td>
                            <td>@(three_5)</td>
                            <td>@(three_4 != 0 ? (Math.Round((double)three_5 * 100 / (double)three_4, 1)) : 0)%</td>
                            <td>@(three_6)</td>
                            <td>@(three_7)</td>
                            <td>@(three_6 != 0 ? (Math.Round((double)three_7 * 100 / (double)three_6, 1)) : 0)%</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    }
</div>
@section scripts
{
    <script>

        $('[name=searchTime]').datepicker({ format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months' });

        function ClearFilter() {
            $("#searchDomain input").val("");
        }
        function Search() {
            window.location.href = "/Coach/Train?searchTime=" + $("[name='searchTime']").val() + "&CoachID=" + $("[name='CoachID']").val();
        }

    </script>
}