
<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <title>驾校网上报名管理平台</title>
    <link href="~/Styles/css/amazeui.css" rel="stylesheet" />
    @Styles.Render("~/Content/Admin")
    @RenderSection("linkcss", required: false)    @Scripts.Render("~/Scripts/Admin")
    <script>
        function changePassword() {

            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                width: "800px",
                height: "280px",
                ajaxUrl: "/HtmlTemplates/User/ChangePassword.html",
                title: "修改密码",
                buttons: [{
                    label: "保存",
                    callback: function (e) {

                        var oldPassword = $("[name='OldPassword']").val();
                        var newPassword = $("[name='NewPassword']").val();
                        var cfmPassword = $("[name='ConfirmPassword']").val();

                        if (oldPassword != "" && newPassword != "" && cfmPassword != "") {
                            if (newPassword != cfmPassword) {
                                $.Nuoya.alert("密码不能为空");
                                return false;
                            }
                            $.Nuoya.action("/accout/ChangePassword", { oldPassword: oldPassword, newPassword: newPassword, cfmPassword: cfmPassword }, function (data) {
                                if (!data.ErrorDesc) {
                                    $.Nuoya.alert("修改密码成功");
                                    e.hide();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);

                            });
                        }
                        else
                            $.Nuoya.alert("密码不能为空");
                    }
                }]
            });
        }

        //关闭/展示菜单
        function unState() {
            var state = $(".admin-sidebar").css("display");
            if (state == "none")
                $('.admin-sidebar').show();
            else
                $('.admin-sidebar').hide();
        }

        //根据市加载报名点
        function LoadEnteredPoint(isIndex, obj) {
            if (isIndex) {
                $("#searchDomain select[name='EnteredPointID']").empty();
            }
            else {
                $("#form select[name='EnteredPointID']").empty();
            }
            var cityCode = $(obj).val();
            if (cityCode != "") {
                $.Nuoya.action("/EnteredPoint/GetSelectItem", { cityCode: cityCode }, function (json) {
                    $(json).each(function () {
                        if (isIndex) {
                            $("#searchDomain select[name='EnteredPointID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                        }
                        else {
                            $("#form select[name='EnteredPointID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                        }
                    });
                });
            }
        }

        //获取Json的日期
        function RenderDate(data) {
            var da = eval('new ' + data.replace('/', '', 'g').replace('/', '', 'g'));
            return da.getFullYear() + "-" + da.getMonth() + "-" + da.getDay() ;
        }
        //获取Json的时间
        function RenderTime(data) {
            var da = eval('new ' + data.replace('/', '', 'g').replace('/', '', 'g'));
            return da.getFullYear() + "-" + da.getMonth() + "-" + da.getDay() + " " + da.getHours() + ":" + da.getSeconds() + ":" + da.getMinutes();
        }
        //根据报名点加载推荐人
        function LoadReference(isIndex, obj) {
            if (isIndex) {
                $("#searchDomain select[name='ReferenceID']").empty();
            }
            else {
                $("#form select[name='ReferenceID']").empty();
            }
            var enteredPointId = $(obj).val();
            if (enteredPointId != "") {
                $.Nuoya.action("/Reference/GetSelectItem", { enteredPointId: enteredPointId }, function (json) {
                    $(json).each(function () {
                        if (isIndex) {
                            $("#searchDomain select[name='ReferenceID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                        }
                        else {
                            $("#form select[name='ReferenceID']").append("<option  value='" + this.Value + "'>" + this.Text + "</option>");
                        }
                    });
                });
            }
        }
        //加载省份
        function LoadProvince(isIndex, dataitem) {
            if (isIndex) {
                $.Nuoya.action("/Area/GetAreaCodeSelectItem", {}, function (json) {
                    $(json).each(function () {
                        $("#searchDomain select[name='ProvinceCode']").append("<option value='" + this.Value + "'>" + this.Text + "</option>");
                    });
                });
            }
            else {

                $.Nuoya.action("/Area/GetAreaCodeSelectItem", {}, function (json) {

                    $(json).each(function () {
                        if (dataitem != null && dataitem.ProvinceCode == this.Value) {
                            $("#form select[name='ProvinceCode']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        } else {
                            $("#form select[name='ProvinceCode']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }

                        if (dataitem != null && dataitem.EnteredProvinceCode == this.Value) {
                            $("#form select[name='EnteredProvinceCode']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        } else {
                            $("#form select[name='EnteredProvinceCode']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }
                    });
                    ShowCity(false, 1, dataitem.CityCode);
                    ShowCity(false, 2, dataitem.EnteredCityCode);
                });

            }
        }
        //加载学员信息的下拉框集合
        function LoadItemList(isIndex, dataitem) {
            $.Nuoya.action("/Student/GetSelectItemList", {}, function (json) {
                $(json.ReferenceList).each(function () {
                    if (isIndex) {
                        $("#searchDomain select[name='ReferenceID']").append("<option  value='" + this.ID + "'>" + this.Name + "</option>");
                    }
                    else {
                        if (dataitem != null && dataitem.ReferenceID == this.ID) {
                            $("#form select[name='ReferenceID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                        } else {
                            $("#form select[name='ReferenceID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                        }
                    }
                });
                $(json.DriverShopList).each(function () {
                    if (isIndex) {
                        $("#searchDomain select[name='MakeDriverShopID']").append("<option  value='" + this.ID + "'>" + this.Name + "</option>");
                    }
                    else {
                        if (dataitem != null && dataitem.MakeDriverShopID == this.ID) {
                            $("#form select[name='MakeDriverShopID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                        } else {
                            $("#form select[name='MakeDriverShopID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                        }
                        if (dataitem != null && dataitem.WantDriverShopID == this.ID) {
                            $("#form select[name='WantDriverShopID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                        } else {
                            $("#form select[name='WantDriverShopID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                        }
                    }
                });
                $(json.EnteredPointList).each(function () {
                    if (isIndex) {
                        $("#searchDomain select[name='EnteredPointID']").append("<option  value='" + this.ID + "'>" + this.Name + "</option>");
                    }
                    else {
                        if (dataitem != null && dataitem.EnteredPointID == this.ID) {
                            $("#form select[name='EnteredPointID']").append("<option  value='" + this.ID + "' selected='selected' >" + this.Name + "</option>");
                        } else {
                            $("#form select[name='EnteredPointID']").append("<option  value='" + this.ID + "' >" + this.Name + "</option>");
                        }
                    }
                });

                $(json.CertificateList).each(function () {
                    if (isIndex) {

                    }
                    else {
                        if (dataitem != null && dataitem.CertificateID == this.Value) {
                            $("#form select[name='CertificateID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        } else {
                            $("#form select[name='CertificateID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }
                    }
                });
                $(json.PayMethodList).each(function () {
                    if (isIndex) {
                    }
                    else {
                        if (dataitem != null && dataitem.PayMethodID == this.Value) {
                            $("#form select[name='PayMethodID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        } else {
                            $("#form select[name='PayMethodID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }
                    }
                });
                $(json.TrainList).each(function () {
                    if (isIndex) {
                    }
                    else {
                        if (dataitem != null && dataitem.TrianID == this.Value) {
                            $("#form select[name='TrianID']").append("<option  value='" + this.Value + "' selected='selected' >" + this.Text + "</option>");
                        } else {
                            $("#form select[name='TrianID']").append("<option  value='" + this.Value + "' >" + this.Text + "</option>");
                        }
                     }
                });
            });
        }

        //显示省份下方的市
        function ShowCity(isIndex, tabe,setVaule) {
            var value = "";
            if (isIndex) {
                {
                    value = $("#searchDomain select[name='ProvinceCode']").val();
                    $("#searchDomain select[name='CityCode']").empty();
                }
            }
            else {
                if (tabe == 1) {
                    value = $("#form select[name='ProvinceCode']").val();
                    $("#form select[name='CityCode']").empty();
                }
                else if (tabe == 2)
                {
                    value = $("#form select[name='EnteredProvinceCode']").val();
                    $("#form select[name='EnteredCityCode']").empty();
                }

            }

            if (value == "0")
                return false;
            $.Nuoya.action("/Area/GetAreaCodeSelectItem", { value: value }, function (json) {
                $(json).each(function () {
                    if (isIndex) {
                        $("#searchDomain select[name='CityCode']").append("<option value='" + this.Value + "'>" + this.Text + "</option>");
                    }
                    else {
                        if (tabe == 1) {
                            if (setVaule != null && setVaule == this.Value) {
                                $("#form select[name='CityCode']").append("<option value='" + this.Value + "'  selected='selected' >" + this.Text + "</option>");
                            }
                            else {
                                $("#form select[name='CityCode']").append("<option value='" + this.Value + "' >" + this.Text + "</option>");
                            }
                        }
                        else if (tabe == 2)
                            if (setVaule != null && setVaule == this.Value) {
                                $("#form select[name='EnteredCityCode']").append("<option value='" + this.Value + "'  selected='selected' >" + this.Text + "</option>");
                            }
                            else {
                                $("#form select[name='EnteredCityCode']").append("<option value='" + this.Value + "' >" + this.Text + "</option>");
                            }
                    }
                });
            });
        }

        //显示市下方的县区
        function ShowArea(isIndex, obj) {
            if (isIndex) {
                $("#searchDomain select[name='DistrictCode']").empty();
            }
            else {
                $("#form select[name='DistrictCode']").empty();
            }
            var value = $(obj).val();

            $.Nuoya.action("/Area/GetAreaCodeSelectItem", { value: value }, function (json) {
                $(json).each(function () {
                    if (isIndex) {
                        $("#searchDomain select[name='DistrictCode']").append("<option value='" + this.Value + "' selected>" + this.Text + "</option>");
                    }
                    else {
                        $("#form select[name='DistrictCode']").append("<option value='" + this.Value + "' selected>" + this.Text + "</option>");
                    }
                });
            });
        }

        //图片方法 缩小
        function ShowThum(item) {
            return "<a onclick='ShowImage(\"" + item.VoucherThum + "\")'><img src='" + item.VoucherThum + "' style='width:100px; height:40px;'/></a>"
        }
        function ShowImage(src)
        {
            $("#imgDiv img").attr("src", src);
            $("#imgDiv").show();
        }
        $(function () {
            $("#imgDiv").click(function () {
                $("#imgDiv").hide();
            });
        });

        //获取页面路径
        function GetUrlRelativePath()
        {
            var url = document.location.toString();
            var arrUrl = url.split("//");

            var start = arrUrl[1].indexOf("/");
            var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

            if(relUrl.indexOf("?") != -1){
                relUrl = relUrl.split("?")[0];
            }
            return relUrl;
        }

        //权限路径集合
        var operateUrlArray = new Array();

        //显示性别
        function Gender(item) {
            if (item.GenderCode == 1)
                return "男";
            else if (item.GenderCode == 2)
                return "女";
            else
                return "未知";
        }

        //显示性别
        function ShowConfirm(item) {
            if (item.IsConfirm == 1)
                return "已确认";
            else
                return "未确认";
        }
    </script>
</head>
<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="/home/index"><strong>驾校网上报名管理平台</strong></a>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li><a href="javascript:;"><span class="am-icon-user">@(DOL.Core.CookieHelper.GetCurrentUser()?.Account)</span></a></li>

                <li><a href="javascript:changePassword()"><span class="am-icon-download">修改密码</span></a></li>
                <li><a href="/accout/Quit" class="admin-quit"><span class="am-icon-sign-out"></span> <span>注销</span></a></li>
            </ul>
        </div>
    </header>
    <div class="am-cf admin-main am-text-left">

        <div id="imgDiv" style="opacity:1;background-color:black;width:100%;height:100%;z-index:9000; display:none; position:absolute;">
            <div style="width:600px; margin:0 auto; z-index:9001;margin-top:10%">
                <img src="" style="width:100%;" />
            </div>
        </div>

        <!-- sidebar start -->
        <div class="admin-sidebar">
            <ul class="am-list admin-sidebar-list">
                @Html.Action("PartialMenu", "Menu")
            </ul>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <div>
                @RenderBody()
            </div>

        </div>
        <!-- content end -->
    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>




    @RenderSection("scripts", false)
</body>
</html>



